version: '3.8'
services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    environment:
      - MODEL_PATH=models/stockout_model.pkl
    command: ["uvicorn", "src.predict_api:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
